html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    height: 100%;
}
/* --------------------------------------index*/
.index{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    z-index: 10;
    height: 100%;    
}
/* --------------------------------------Navigation*/
.Navi{
    width: 100%;
    height: 54px;
    flex-shrink: 0;
}
.Navigation{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 54px;
    /* Additional Color/White */
    background: #FFFFFF;
    position:fixed;
    z-index:1;
}
.navigation{
    position: fixed;
    width: 1200px;
    height: 34px;
    margin: 10px;
}
.tdt{
    position: absolute;
    width: 150px;
    height: 34px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */
    /* Primary Color/Cyan 70 */
    color: #448899;
}
.Frame2{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
        /* padding: 0px; */
    position: absolute;
    width: 175px;
    height: 34px;
    right: 0px;
        /* bottom: 0px; */
}
.Fram1{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    width: 175px;
    height: 34px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}
.forNav{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin : 10px;
        /* padding: 10px; */
    gap: 10px;
        /* width: 84px;
        height: 34px; */
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    
}
.BUTTON{
    height: 14px;
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height, or 83% */
    /* Secondary Color/Gray 70 */
    color: #666666;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}
/* ----------------------------------------weclome */
.HeroSectoin{
    background-image: url(welcome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip:inherit;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;            
    height: 320px;
    flex-shrink: 0;
    overflow: hidden;
    z-index: -10;
    /* Light | Cyan Gradient (135deg) */
    /* background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%); */
}
/* ----------------------------------------slogan*/
.slogan{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 129px;
}
.slo{
    width: 1180px;
    height: 149px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}
.main_slogan{    
    position: absolute;
    width: 1180px;
    height: 78px;
}
.text1{
    position: absolute;
    width: 100%;
    height: 41px;
    left: 0px;
    top: 0px;
    /* Header 1 - Bold 28(24) */
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;
}
.text2{
    position: absolute;
    width:100%;
    height: 22px;
    left: 0px;
    top: 56px;
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
}
.search{
    position: absolute;
    width: 360px;
    height: 46px;
}
.search_bar{
    display: flex;
    position: absolute;
    width: 460px;
    height: 46px;
    top: 103px;
}
.input{
    border-radius:5px 0 0 5px;
    border-width: 0px;
    width: 87%;
    background: #FFFFFF;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 0 5px;
}
.btn{
    border-radius:0 5px 5px 0;
    border-width: 0px;
    padding: 0px;
    width: 60px;
    height: 46px;
    background:url(bg.png);
}
.menu_open{
    display: none;
}
.menu{
    border-radius: 5px;
    border-width: 0px;
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #AABBCC;
    position: relative;
    top :154px;
    display: flex;
    flex-wrap: wrap;
}
.cate{
    width: 90px;
    height: 20px;
    padding: 10px 15px;
    gap:4px;
}
.cate:hover{
    background-color: #E8E8E8;
}
/* ----------------------------------------attraction */
.attraction{
    width: 1200px;
    flex:1;
}
.Bob{
    width:1200px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.test{
    width: 100%;
    height: 280px;
}
.ob{
    margin: 15px;
    width:25%;
    padding: 0;
}
.obin{
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column-reverse;
    height: 197px;
}

.bigimage{
    width:100%;
    object-fit: cover;
    display:block;
}
.star{
    display:block;
    width:25px;
    margin-left:auto;
    padding:1px;
    mix-blend-mode: multiply;
}
.title{
    height:40px;
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.6);
}
.tit{
    display: grid;
    align-items: center;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    padding: 10px;
    height: 20px;
    color: #FFFFFF;
}
.details{
    height: 25px;
    display: flex;
    padding: 10px;
}
.det1,.det2{
    width: 50%;
}
.det2{
    text-align: right;
}

@media(max-width:1280px) {

    .Bob{
        width:100%;
        flex-wrap: wrap;
    }
    .ob{
        width:50%;
        margin: 0;
    }
    .obin{       
        padding: 15px 15px 0 15px;
        background-clip: content-box;
    }
    .title{
        width:100%;
    }
    .details{
        margin:0 15px 15px 15px;
    }

}
@media(max-width:600px) {
    .Bob{
        flex-direction: column;
    }
    .ob{
        width:100%;
    }.obin{
        padding: 20px 20px 0 20px;
    }
    .details{
        margin: 0 20px 20px 20px;
    }

}
/*-----------------------------------------finish */
.finish{
    display: none;
    width: 100%;
    height: 30px;
    color: #757575;
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 30px;
}
/* ----------------------------------------footer */
.footer{
    /* Auto layout */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;
    flex-shrink: 0;
    /* Gray 700 */
    background: #757575;
}
.foot{
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF
}


@media(max-width:1250px){
    .navigation{
        width: 100%;
    }
    .tdt{
        left:10px;
    }
    .slogan{
        width: 100%;
    }
    .slo{
        width: 100%; 
    }
    .main_slogan{
        width: 100%;
    }
    .text1{
        padding: 0 0 0 20px;
        width:320px;
    }
    .text2{
        padding: 0 0 0 20px;
        width:320px;
    }
    .search_bar{
        padding: 0 0 0 20px;
    }
    .attraction{
        width:100%;
    }

}
@media(max-width:600px){
    .search{
        width:100%;
    }
    .search_bar{
        width:80%;
        min-width: 320px;
    }
}