<!DOCTYPE html>
<html>
   <head>
      <meta name='viewport' content='width=device-width',initial-scale=1.0/>
      <meta charset='utf-8'/>
      <title>Taipei-Day-Trip</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TDT-attraction.css')}}"/>
   </head>
   <body class = "index">
    <div class = "Navi">
        <div class = "Navigation">
            <div class = navigation>
                <div class = "tdt" onclick = goHome()>台北一日遊</div>
                <div class = "Frame2">
                    <div class = "Fram1">
                        <div class = "forNav">
                            <div class = "forNav-1">預定行程</div>
                        </div>
                        <div class = "forNav">
                            <div class = "forNav-1" onclick = signOpen()>登入/註冊</div>
                        </div>
                        <div class = "forNav forNav_hide">
                            <div class = "forNav-1" >登出帳戶</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "attraction">
        <div class = "section">
            <div class="picture_container">
                <div class="arrow_left"></div>
                <div class="arrow_right"></div>
                <div style = "display: flex;justify-content: center;">
                    <div class="slide_radio">
                        <input type="radio" name = "picture">
                    </div>
                </div>
                <div class = "picture" number = ""></div>
            </div>
            <div class = "profile">
                <div class = "name"></div>
                <div class = "cateAndMrt"></div>
                <form class = "booking_form" name = "booking_form">
                    <div class = "intent">訂購導覽行程</div>
                    <div class = "slogan">以此景點為中心的一日行程，帶您探索城市角落故事 </div>
                    <div class = "order_date">
                        <div class = "title_text">選擇日期：</div>
                        <input class = "input" type="date" id = "date">
                    </div>
                    <div class = "time">
                        <div class = "title_text">選擇時間：</div>
                        <label>
                            <input type ="radio" name="time" id = "morning">
                            <div class = "checkTime">
                                <div class = "check_content">
                                    <div class = "check_item"></div>
                                </div>
                                <div>上半天</div>
                            </div>
                        </label>
                        <label>
                            <input type ="radio"  name="time" id = "afternoon">
                            <div class = "checkTime">
                                <div class = "check_content">
                                    <div class = "check_item"></div>
                                </div>
                                <div>下半天</div>
                            </div>
                        </label>
                    </div>
                    <div class = "price">
                        <div class = "title_text">導覽費用：</div>
                        <div class = "morning">新台幣 2000元</div>
                        <div class = "afternoon">新台幣 2500元</div>
                    </div>
                    <div class = "button">開始預約行程</div>
                </form>
            </div>
        </div>
        <hr>
        <div class = "intro">
            <div class = "intro_index" id = "description">測試的文字</div>
            <div class = "intro_title" >景點地址：</div>
            <div class = "intro_index" id = "address">測試的文字</div>
            <div class = "intro_title" >交通方式：</div>
            <div class = "intro_index" id = "transport">測試的文字</div>
        </div>
    </div>
    <div class="loading">
        <div class="status">
            LOADING
            <div class="loading_image"></div>
        </div>
    </div>
    <div class = "footer">
        <div class = "foot">COPYRIGHT © 2021 台北一日遊</div>
    </div>
    <div class="sign">
        <div class="sign_closed" onclick = signClosed()></div>
        <div class="sign_bar">
            <div class="sign_bar_top"><span class="passwordeyeO eyeactive" onclick = eyeSwitch()></span><span class="passwordeyeC" onclick = eyeSwitch()></span></div>
            <div class="sign_bar_title">會員登入帳號</div>
            <form id="signinform">
                <input placeholder="輸入電子信箱" class="sign_text"/>
                <input placeholder="輸入密碼" class="sign_text" type="password" onkeyup="this.value=this.value.replace(/[^\w_]/g,'')">
            </form>
            <input type="button" value="登入帳戶" class="sign_button" id="sign_in_button">
            <div class="reminder1"></div>
            <div class="sign_switch1">還沒有帳戶？
                <div class="sign_switch2" onclick = signswitch()>點此註冊</div>
            </div>
        </div>

        <div class="sign_bar sign_bar_hide">
            <div class="sign_bar_top"><span class="passwordeyeO signup_eye" onclick = eyeSwitch()></span><span class="passwordeyeC signup_eye" onclick = eyeSwitch()></span></div>
            <div class="sign_bar_title">註冊會員帳號</div>
            <form action="/api/user" method="post" id="signupform">
                <input placeholder="輸入姓名" class="sign_text" name="name" />
                <input placeholder="輸入電子信箱" class="sign_text" name="email" />
                <input placeholder="輸入密碼" class="sign_text" name="password" onkeyup="this.value=this.value.replace(/[^\w_]/g,'')">
            </form>
            <input type="button" value="註冊帳戶" class="sign_button" id="sign_up_button">
            <div class="reminder2"></div>
            <div class="sign_switch1">已經有帳戶了？
                <div class="sign_switch2"  onclick = signswitch()>點此登入</div>
            </div>
        </div>
    </div>    
   </body>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
   <script src="{{ url_for('static',filename='login.js')}}"></script>
   <script src="{{ url_for('static',filename='attraction.js')}}"></script>
</html>