<!DOCTYPE html>
<html>
   <head>
      <meta name='viewport' content='width=device-width',initial-scale=1.0/>
      <meta charset='utf-8'/>
      <title>Taipei-Day-Trip</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TDT-booking.css')}}"/>
   </head>
   <body class = "index">
    <div class = "Navi">
        <div class = "Navigation">
            <div class = navigation>
                <div class = "tdt" onclick = goHome()>台北一日遊</div>
                <div class = "Frame2">
                    <div class = "Fram1">
                        <div class = "forNav">
                            <div class = "forNav-1">預定行程</div>
                        </div>
                        <div class = "forNav">
                            <div class = "forNav-1 forNav_hide" onclick = signOpen()>登入/註冊</div>
                        </div>
                        <div class = "forNav">
                            <div class = "forNav-1" >登出帳戶</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="navi_hr">
    <div class = "headline">您好，<span class="user"></span>，待預定的行程如下：</div>
    <div class="none_booking">目前沒有任何待預定的行程</div>
    <div class="booking">
        <div class="route">
            <div class="section">
                <div class="section_picture"></div>
                <div class="info">
                    <div class="info_title">台北一日遊：<span id = "title"></span></div>
                    <div class="info_frame">日期：<sapn id="date"></sapn></div>
                    <div class="info_frame">時間：<sapn id="time"></sapn></div>
                    <div class="info_frame">費用：<sapn id="price"></sapn></div>
                    <div class="info_frame" style="margin-bottom: 5px;">地點：<sapn id="place"></sapn></div>
                </div>
                <div class="delete"></div>
            </div>
        </div>
    </div>
    <form  method='post' action="/api/booking" name = "form_connect" style="display: none;">
        <div class="form_index">
            <hr class="form_hr">
            <div class="form_title">您的聯絡資訊</div>
            <div class="form_filed">聯絡姓名：<input type="text" class="form_filed_input" name="name"></div>
            <div class="form_filed">聯絡信箱：<input type="text" class="form_filed_input" name="email"></div>
            <div class="form_filed">手機號碼：<input type="text" class="form_filed_input" name="phone"></div>
            <div class="connect_notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <div class="form_index" method='post'>
            <hr class="form_hr">
            <div class="form_title">信用卡付款資訊</div>
            <div class="form_filed">卡片號碼：<div class="form_filed_input" id="card-number"></div></div>
            <div class="form_filed">過期時間：<div class="form_filed_input" id="card-expiration-date"></div></div>
            <div class="form_filed">驗證密碼：<div class="form_filed_input" id="card-ccv"></div></div>
        </div>
        <div class="confirm">
            <hr class="form_hr">
            <div class="confirm_index">
                <div>
                    <div class="sum">總價：新台幣 <span id = "sum"></span> 元</div>
                    <input class="booking_button" type="button" value="確認訂購並付款" >
                </div>
            </div>
        </div>
    </form>
    <div class="loading">
        <div class="status">
            LOADING
            <div class="loading_image"></div>
        </div>
    </div>
    <div class = "footer" style="flex:1">
        <div class = "foot">COPYRIGHT © 2021 台北一日遊</div>
    </div>
    <div class="sign">
        <div class="sign_closed" onclick = signClosed()></div>
        <div class="sign_bar">
            <div class="sign_bar_top"><span class="passwordeyeO eyeactive" onclick = eyeSwitch()></span><span class="passwordeyeC" onclick = eyeSwitch()></span></div>
            <div class="sign_bar_title">會員登入帳號</div>
            <form id="signinform">
                <input placeholder="輸入電子信箱" class="sign_text"/>
                <input placeholder="輸入密碼" class="sign_text" type="password" onkeyup="this.value=this.value.replace(/[^\w_]/g,'')">
            </form>
            <input type="button" value="登入帳戶" class="sign_button" id="sign_in_button">
            <div class="reminder1"></div>
            <div class="sign_switch1">還沒有帳戶？
                <div class="sign_switch2" onclick = signswitch()>點此註冊</div>
            </div>
        </div>

        <div class="sign_bar sign_bar_hide">
            <div class="sign_bar_top"><span class="passwordeyeO signup_eye" onclick = eyeSwitch()></span><span class="passwordeyeC signup_eye" onclick = eyeSwitch()></span></div>
            <div class="sign_bar_title">註冊會員帳號</div>
            <form action="/api/user" method="post" id="signupform">
                <input placeholder="輸入姓名" class="sign_text" name="name" />
                <input placeholder="輸入電子信箱" class="sign_text" name="email" />
                <input placeholder="輸入密碼" class="sign_text" name="password" onkeyup="this.value=this.value.replace(/[^\w_]/g,'')">
            </form>
            <input type="button" value="註冊帳戶" class="sign_button" id="sign_up_button">
            <div class="reminder2"></div>
            <div class="sign_switch1">已經有帳戶了？
                <div class="sign_switch2"  onclick = signswitch()>點此登入</div>
            </div>
        </div>
    </div>  
    </body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='login.js')}}"></script>
    <script src="{{ url_for('static',filename='booking.js')}}"></script>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script>
        TPDirect.setupSDK(126941, "app_Azvn2KeIhCuP8ToAqvfxcKGXHrkEcopAIPUSJh94u8z5VwO0oaRtOKhca8dm", 'sandbox');
        let fields = {
            number: {
                // css selector
                element: '#card-number',
                placeholder: '**** **** **** ****'
            },
            expirationDate: {
                // DOM object
                element: document.getElementById('card-expiration-date'),
                placeholder: 'MM / YY'
            },
            ccv: {
                element: '#card-ccv',
                placeholder: '後三碼'
            }
        };
        TPDirect.card.setup({
            fields: fields,
            styles: {
                // Style all elements
                'input': {
                    'color': 'gray',
                    "width" : "200px",
                    "height" :"18px",
                    "padding" : "9px 10px",
                    "border" : "1px solid #E8E8E8",
                    "border-radius" : "5px"  
                },
                // style valid state
                '.valid': {
                    'color': 'green'
                },
                // style invalid state
                '.invalid': {
                    'color': 'red'
                },
                // Media queries
                // Note that these apply to the iframe, not the root window.
                '@media screen and (max-width: 400px)': {
                    'input': {
                        'color': 'orange'
                    }
                }
            },
            // 此設定會顯示卡號輸入正確後，會顯示前六後四碼信用卡卡號
            isMaskCreditCardNumber: true,
            maskCreditCardNumberRange: {
                beginIndex: 6, 
                endIndex: 11
            }
        });

        //get Prime
        let buttom = document.querySelector(".booking_button");
        buttom.addEventListener("click",(event)=>{
            onSubmit(event)
        })
        function onSubmit(event) {
            event.preventDefault()

            // 取得 TapPay Fields 的 status
            const tappayStatus = TPDirect.card.getTappayFieldsStatus()

            // 確認是否可以 getPrime
            if (tappayStatus.canGetPrime === false) {
                alert('can not get prime')
                return
            }

            // Get prime
            TPDirect.card.getPrime((result) => {
                //將prime 跟其他資訊送到後端
                let prime = result.card.prime;
                let price = document.querySelector("#sum").innerHTML;
                let connectName = document.getElementsByName("name")[0].value;
                let connectEmail = document.getElementsByName("email")[0].value;
                let connectPhone = document.getElementsByName("phone")[0].value;
                if(connectName === "" || connectEmail === "" || connectPhone === ""){
                    alert("聯絡資訊不可為空");
                    return
                }
                let contact = {
                    "name": connectName,
                    "email": connectEmail,
                    "phone": connectPhone
                }
                let trip = tripData[0];
                delete trip["price"];
                delete trip["image"];
                let order = {
                    "price" : price,
                    "trip" : trip,
                    "contact" : contact
                }

                let url = "http://35.76.166.101:3000/api/orders";
                fetch(url, {
                    method:"POST",
                    body: JSON.stringify({
                        "prime" : prime,
                        "order" : order
                    }),
                    credentials: "include",
                    cache:"no-cache",
                    headers: new Headers({
                        "Content-Type":"application/json; charset=UTF-8",
                    }),
                }).then(res =>{
                    res = res.json();
                    return res
                }).then(result =>{
                    console.log(result)
                    // 紀錄訂單編號，附在querystring 上並導向thankyou.html
                    if(result["data"] != null){
                        let serial_number = result["data"]["number"];
                        window.location.href = "http://35.76.166.101:3000/thankyou?number="+serial_number
                    }else{
                        let serial_number = result["number"];
                        window.location.href = "http://35.76.166.101:3000/thankyou?number="+serial_number+"&paid=-1"
                    }
                })
            })
        }
    </script>
</html>